#program_page {
    .ant-input-search-button {
        display: none;
    }

    .ant-input-group-addon {
        display: none;
    }

    .ant-input-group .ant-input-affix-wrapper {
        border: none;
        border-radius: 0%;
    }

    .ant-input-affix-wrapper:hover {
        border-color: transparent;
    }

    input.ant-input {
        font-weight: 500;
    }

    .ant-input-affix-wrapper:focus {
        border-color: transparent;
        box-shadow: none;
    }

    .ant-input-affix-wrapper:focus-within {
        border-color: transparent;
        box-shadow: none;
    }
}

#program_page .program_container {
    @apply relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 rounded-2xl bg-clip-border;
}

#program_page .program_new_project {
    @apply w-full max-w-full px-3 mb-6 md:w-6/12 md:flex-none xl:mb-0 xl:w-3/12;
}

#program_page .project_container {
    @apply relative flex flex-col min-w-0 break-words bg-transparent border-0 shadow-none rounded-2xl bg-clip-border;
}

#program_page .project_code {
    @apply relative z-10 mb-2 leading-normal text-transparent bg-gradient-to-tl from-gray-900 to-slate-800 text-sm bg-clip-text;
}

#program_page .view_btn {
    @apply inline-block w-full px-8 py-2 mb-0 font-bold text-center uppercase align-middle transition-all bg-transparent border border-solid rounded-lg shadow-none cursor-pointer text-xs border-fuchsia-500 text-fuchsia-500 hover:border-fuchsia-500 hover:bg-transparent hover:text-fuchsia-500 hover:opacity-75 hover:shadow-none active:bg-fuchsia-500 active:text-white active:hover:bg-transparent active:hover:text-fuchsia-500;
}

#program_page .create_project_btn {
    @apply relative flex flex-col h-full min-w-0 break-words bg-transparent border border-solid shadow-none rounded-2xl border-gray-500 bg-clip-border;
}

#program_page .text_startus_program {
    @apply bg-gradient-to-tl px-2.5 text-xs rounded-lg py-2 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white;
}

#program_page .btn-create-program {
    @apply inline-block ml-3 px-8 py-3 mb-0 font-bold text-center uppercase align-middle transition-all bg-transparent border border-solid rounded-lg shadow-none cursor-pointer text-xs border-fuchsia-500 text-fuchsia-500 hover:border-fuchsia-500 hover:bg-transparent hover:text-fuchsia-500 hover:opacity-75 hover:shadow-none active:bg-fuchsia-500 active:text-white active:hover:bg-transparent active:hover:text-fuchsia-500;
}
