#cardCustom .container_wrapper {
    @apply flex items-center justify-center min-h-screen
}

#cardCustom .wrapper {
    @apply gap-12 space-y-4 flex md:px-4 md:grid md:grid-cols-2 lg:grid-cols-3 md:space-y-0
}

#cardCustom .card {
    @apply max-w-sm px-6 pt-6 pb-2 transition duration-500 transform bg-white shadow-lg rounded-xl hover:scale-105
}

#cardCustom .card_title {
    @apply h-20 mb-3 text-2xl font-bold text-gray-800 cursor-pointer line-clamp-2 text-ellipsis
}

#cardCustom .card_btn {
    @apply inline-block mb-4 text-sm text-blue-100
}

#cardCustom .card_image {
    @apply w-full rounded-xl md:max-h-52 md:h-52
}

#cardCustom .col {
    @apply flex items-center w-2/4 text-gray-100
}

#cardCustom .col_3 {
    @apply flex items-center justify-end w-2/4 text-gray-100
}

#cardCustom .text_1 {
    @apply text-sm font-semibold leading-6 text-blue-100
}

#cardCustom .text_2 {
    @apply text-sm font-semibold leading-6 text-blue-100
}