#create_program_modal {

    .ant-picker,
    .ant-input-number,
    .ant-space-item {
        width: 100%;
    }

    .ant-btn-primary {
        background-color: red !important;
    }

    .ant-input-number>.ant-input-number-handler-wrap {
        display: none;
    }

    .input-height {
        height: 40px;
    }

    .ant-input-number-input-wrap,
    .ant-input-number-input {
        height: 100%;
    }

    .ant-btn-primary {
        border: 1px solid #d946ef;
        background-color: white;
        color: #d946ef;
        font-size: 0.75rem;
        font-weight: 700;
    }

    .ant-btn-default {
        font-size: 0.75rem;
        font-weight: 700;
    }

    .ant-btn-primary:hover {
        border: 1px solid #e374f3 !important;
        background-color: white !important;
        color: #e374f3 !important;
    }

    .text-lable {
        font-size: 0.75rem;
        font-weight: 700;
    }
}

#create_program_modal .btn_create {
    @apply inline-block ml-3 px-8 py-2 mb-0 font-bold text-center uppercase align-middle transition-all bg-transparent border border-solid rounded-lg shadow-none cursor-pointer text-xs border-fuchsia-500 text-fuchsia-500 hover:border-fuchsia-500 hover:bg-transparent hover:text-fuchsia-500 hover:opacity-75 hover:shadow-none active:bg-fuchsia-500 active:text-white active:hover:bg-transparent active:hover:text-fuchsia-500
}