#modal-detail {

    background: white;
    font-family: Poppins, sans-serif;
    overflow: auto;

    .partner-popup {
        background-color: #fff;
        padding: 50px 70px 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .partner-popup__header {
        border-bottom: 1px solid #c5c7d0;
        padding-bottom: 30px;
        margin-bottom: 30px;
        flex: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    .partner-popup__company {
        border-left: 1px solid #c5c7d0;
        padding-left: 35px;
        margin-left: 30px;
    }

    .partner-popup__title {
        color: black;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 1.2375rem;
    }

    .partner-popup__content {
        max-width: 520px;
        font-size: .95625rem;
        line-height: 1.6875rem;
    }

    .partner-popup__sidebar {
        line-height: 30px;
    }

    .partner-popup__subtitle {
        color: #595ad4;
        font-weight: 700;
        font-size: 1.0125rem;
        line-height: 1.2375rem;
        font-family: Poppins, sans-serif
    }


    hr {
        background: #9699a6;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
    }

    .asphalt-text-style,
    .asphalt-text-style p {
        font-weight: 300;
        color: #666;
        font-size: 15.5px;
    }

    .asphalt-text-style strong {
        color: black;
        margin-right: 5px;
        font-weight: 600;
        font-size: 1.0125rem;
        margin-bottom: 0;
    }



    /* reponsive */

    @media (max-width: 767px) {
        .partner-popup {
            padding: 20px;
        }

        .partner-popup__company {
            width: 100%;
        }

        .partner-popup__title {
            font-size: 3.8rem;
            line-height: 4.2375rem;
            margin-bottom: 0;
        }

        .partner-popup__header,
        .partner-popup__company {
            padding: 0;
            margin: 0;
            border: 0;
        }

        .partner-popup__content {
            border-bottom: 1px solid #9699a6;
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            max-width: none;
        }



        .partner-popup__subtitle {
            color: #009aff;
        }

        .partner-popup__content p {
            font-size: 15.5px;
            line-height: 24px;
            font-weight: 300;
        }
    }
}