#campaignDetail .btn-see-more {
    @apply text-blue-100;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}
.ant-modal-footer .ant-btn-primary {
    background-color: #1677ff !important;
}
